@model IEnumerable<OXG.ThingsShop.Models.Product>

@{
    ViewData["Title"] = "Список продуктов";
}

<h1>Список продуктов</h1>

<p>
    @if (User.IsInRole("Администратор") || User.IsInRole("Создание"))
    {
        <a asp-action="Create">Добавить продукт</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @if (User.IsInRole("Администратор") || User.IsInRole("Редактирование"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать |</a>
                    }
                    @if (User.IsInRole("Администратор") || User.IsInRole("Просмотр"))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Подробности |</a>
                    }
                    @if (User.IsInRole("Администратор") || User.IsInRole("Удаление"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
